@page
@model DivisionStatsModel
@{
    ViewData["Title"] = "Division Stats";
}
<!-- Page Header -->
<h1 class="text-center mb-4">Division Stats</h1>

<!-- Table -->
<div class="container">
    <table class="table table-bordered table-striped table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Division</th>
                <th>Total Yards</th>
                <th>Passing Yards</th>
                <th>Rushing Yards</th>
                <th>Receiving Yards</th>
                <th>Total Touchdowns</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var stat in Model.DivisionStats)
            {
                <tr>
                    <td>@stat.DivisionName</td>
                    <td>@stat.TotalYDs</td>
                    <td>@stat.PassingYDS</td>
                    <td>@stat.RushingYDS</td>
                    <td>@stat.PassingYDS</td>
                    <td>@stat.TotalTDs</td>
                </tr>
            }
        </tbody>
    </table>
</div>